{% if request.session.ctid %}
    {% load staticfiles%}
    {% include 'cssfile.html' %}
     {% include 'ac_citizen/citizen_menu.html' %}
      <!--/ Intro Skew Star /-->
      <div id="home" class="intro route bg-image" style="background-image: url({% static 'img/intro-bg.jpg' %})">
        <div class="overlay-itro"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
                <table align="right">
                    <tr>
                        <th>
                            <p><font color="#90ee90" face="timesnewroman">Hello Citizen!</font></p>
                        </th>
                    </tr>
                </table>
            </div>
          </div>
        </div>
      </div>
{% else %}
    {% include 'ac_citizen/citizen_index.html' %}
{% endif %}