{% if request.session.admin %}
    {% load staticfiles%}
    {% include 'cssfile.html' %}
     {% include 'ac_admin/admin_menu.html' %}
      <!--/ Intro Skew Star /-->
      <div id="home" class="intro route bg-image" style="background-image: url({% static 'img/post-1.jpg' %})">
        <div class="overlay-itro"></div>
        <div class="intro-content display-table" style="font-family: 'Times New Roman'">
          <div class="table-cell">
            <div class="container">
                {% if object_list %}
                    <h3 style="color: #f5c6cb"><p>Admin FeedBacks</p></h3>
                    <table align="center" bgcolor="#5f9ea0" style="color: black">
                    <tr>
                        <td width="50">Fid</td>
                        <td width="50">Cid</td>
                        <td width="50">Ct_Id</td>
                        <td width="50">Message</td>
                        <td width="50">Image</td>
                        <td width="50">Reply</td>
                    </tr>
                    {% for x in object_list %}
                        <tr bgcolor="#90ee90">
                        <th>{{ x.fid }}</th>
                        <th>{{ x.cid_id }}</th>
                        <th>{{ x.ct_id_id }}</th>
                        <th>{{ x.message }}</th>
                        <th>
                            <img src="{{ x.image.url }}" width="100" height="50">
                        </th>
                        <th>
                            <a class="badge badge-primary" href="{% url 'admin_feedback_reply' %}?fid={{ x.fid }}">Yes</a>
                        </th>
                        </tr>
                    {% endfor %}

                    </table>
                    {% else %}
                    <h3></h3>
                {% endif %}
            </div>
          </div>
        </div>
      </div>
{% else %}
    {% include 'ac_admin/admin_index.html' %}
{% endif %}