{% if request.session.admin %}
    {% include 'cssfile.html' %}
    {% include 'ac_admin/admin_menu.html' %}
    {% load staticfiles %}
      <!--/ Intro Skew Star /-->
      <div id="home" class="intro route bg-image" style="background-image: url({% static 'img/post-1.jpg' %})">
        <div class="overlay-itro"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">

    <table align="right">
        <tr>
            <th>
                <h1><font color="#90ee90" face="timesnewroman">Hello,Admin</font></h1>
            </th>
        </tr>
    </table>
            </div>
          </div>
        </div>
      </div>
{% else %}
    {% include 'ac_admin/admin_index.html' %}
{% endif %}