{% load staticfiles %}
{% include 'cssfile.html' %}
{% include 'menu.html' %}
<!--/ Intro Skew Star /-->
  <div id="home" class="intro route bg-image" style="background-image: url({% static 'img/cot_cityofthings_hr.png' %})">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table" style="font-family: 'Times New Roman'">
      <div class="table-cell">
        <div class="container">
            <table>
                <tr>
                    <th>
                        <table>
                            <tr><th>
                                <img src="{% static 'img/download (2).png' %}" width="400" height="300">
                            </th></tr>
                        </table>
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>
                    <table>
                        <tr>
                            <td>
                        <h1 style="color: #34ce57">Mission</h1>
                        <p class="p-3" align="left">
                            Active City hopes to work with community stakeholders to transform Hartford into America’s most physically active city for children. It will ensure that all Hartford youth are involved in organized and affordable athletic programs. These programs will grow and develop their spirit, mind, and body, while also fostering relationships between the city’s youth and positive members of our community.
                        </p>
                            </td>
                        </tr>
                    <tr>
                        <td>
                        <h1 style="color: #34ce57">Vission</h1>
                        <p class="p-3" align="left">
                            Active City is a non-profit organization formed to bring together different sports and recreation organizations to better organize and support youth recreation throughout the city. Long standing youth programs such as Saturday Hoopsters, Hartford Soccer Club, and Mayor Mike’s Little League now fall under Active City’s structure. The creation of Active City is intended to better serve Hartford’s youth. By combining ongoing efforts to keep children active we hope to not only improve the quality of the existing programs, but also increase the availability of the programs by increasing awareness and keeping costs low to families.
                        </p>
                        </td>
                    </tr>
                    </table>
                    </th>
                </tr>
            </table>
        </div>
      </div>
    </div>
  </div>