{% load staticfiles %}
{% include 'cssfile.html' %}
{% include 'menu.html' %}
<!--/ Intro Skew Star /-->
  <div id="home" class="intro route bg-image" style="background-image: url({% static 'img/img1.jpg' %})">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table" style="font-family: 'Times New Roman'">
      <div class="table-cell">
        <div class="container">
            <button type="button" class="btn btn-primary">Contact_Us</button>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

            <p style="color: #efa2a9">ACTIVE CITY welcomes your enquiries and feedback, and can be reached via the details below.</p>

            <button type="button" class="btn btn-secondary">Active City Office</button>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
            <p style="color: #c69500">
                c/o Commerzbank / Filiale Höchst<br>
                Hostatostrasse 265929<br>
                Frankfurt Höchst Germany<br>

                Tel.: +49.69.973935990<br>
                Fax: +49.69.973935995<br>
                <b style="color: #007bff">Web:</b><a href="{% url 'index' %}" style="color: #34ce57">www.activecity.org</a>
            </p>

            <button type="button" class="btn btn-secondary">IMPRINT</button>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
            <p style="color: #c69500">
                <b style="color: #007bff">Publisher:</b> ACTIVE CITY<br>
                <b style="color: #007bff">Registration Number:</b> VR 9727<br>
                <b style="color: #007bff">Tax Number:</b> 47 250 52 357<br>
                <b style="color: #f5c6cb">Authorised Representatives:</b><br>
                <b>Wolfgang Baumann, Niedernhausen</b>, Germany<br>
                <b>Herzel Hagay</b>, Tel Aviv, Israel<br>
                <b>Prof. Dr. Ju-Ho Chang</b>, Seoul, Korea<br>
            </p>
        </div>
      </div>
    </div>
  </div>