<!DOCTYPE html>
{% load staticfiles%}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Active City</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
{##}
  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
{#  <!-- Main Stylesheet File -->#}
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
</html>